
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url("./../../../public/fonts/fontello.woff");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

.menu_main_nav > li > a{
    display: inline;
}

.lesimages img{
    max-width: 200px;
    max-height: 200px;
}